# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environnements virtuels
venv/
env/

# Fichiers système
.DS_Store
Thumbs.db

# Dossiers générés par IDE
.vscode/
.idea/

# Fichiers temporaires
*.tmp
*.log

# Données volumineuses
data/raw/insee/carreaux_200m_met.csv